<div class="container" style="margin-top: 20px;">
    <p-table [value]="taskList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>ProjectId</th>
                <th>Status</th>
                <th>AssignedToUserId</th>
                <th>Detail</th>
                <th>CreatedOn</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr [ngClass]="{'inActive': task.isActive == false}">
                <td>{{task.id}}</td>
                <td>{{task.projectId}}</td>
                <td>{{task.status}}</td>
                <td>{{task.assignedToUserId}}</td>
                <td>{{task.detail}}</td>
                <td>{{task.createdOn}}</td>
                <td>
                    <a pButton pRipple type="button" [routerLink]="['/update-task',task.id]" icon="pi pi-user-edit"
                        class="p-button-rounded"></a>
                    <a pButton pRipple type="button" (click)="remove(task.id)" style="margin-left: 5px;"
                        icon="pi pi-trash" class="p-button-rounded"></a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <a [routerLink]="['/add-task']" class="btn btn-primary">Add New</a>
        </ng-template>
    </p-table>
</div>
